*.java linguist-detectable=true
*.xml linguist-detectable=true
*.groovy linguist-detectable=true
*.gradle linguist-detectable=true
*.Kotlin linguist-detectable=true
*.androidsdk linguist-detectable=true
*.android linguist-detectable=true

